<div id="clothing-modal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="form">
      <div class="form-title" id="form-title"></div>
      <div class="errors" id="form-errors"></div>
      <form action="" method="post" id="clothing-modal-form" name="clothing-modal" onsubmit="return clothing_modal_form_validate()">
        <div class="form-block">
          <div class="form-input-title">Name:</div>
          <div><input class="form-input-textbox form-input-reg" type="text" name="name" id="name-field" /></div>
        </div>
        <div class="form-block">
          <div class="form-input-title">Tags (comma separated):</div>
          <div>
            <input type="text" name="tag-input" id="tag-input" />
          </div>
          <div id="tag-collection"></div>
        </div>
        <div style="display: none">
          <input type="text" name="tags" id="hidden-tag-field" value="">
          <input type="text" name="guid" id="clothing-modal-guid" value="">
        </div>
        <div class="form-block" style="height:30px">
          <input class="form-input-buttons" type="submit" value="Submit" style="margin-top:3px;float:left;"/>
          <input class="form-input-buttons" type="button" value="Cancel" style="margin-top:3px;float:right;" id="clothing-modal-cancel" />
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  // When the user clicks the button, open the modal

  document.getElementById("add-clothing").onclick = function() {
    document.getElementById("form-title").innerText = "New Clothing";
    $("#clothing-modal-form").attr("action", "{{ url_for('new_clothing') }}");
    document.getElementById('clothing-modal').style.display = "block";
  };

  $('.edit-button').on("click", function() {
    document.getElementById("form-title").innerText = "Edit Clothing";
    $("#name-field")[0].value = $(this).parent().siblings(".clothing-name")[0].innerText;
    var tagsString = $(this).parent().siblings(".clothing-tags")[0].innerText;
    var tagsHTML = "";

    if(tagsString != ""){
      var tags = tagsString.split(",");
      for (var i = 0; i < tags.length; i++) {
        tagsHTML += "<div class=\"tag\">" + tags[i] + "<div class='close'>X</div></div>"
      }
    }
    $("#tag-collection").html(tagsHTML);

    var hidden_guid_field = document.getElementById("clothing-modal-guid");
    hidden_guid_field.value = $(this).parent().siblings(".clothing-guid")[0].innerText;
    $("#clothing-modal-form").attr("action", "{{ url_for('edit_clothing') }}");
    $('#clothing-modal').css("display", "block");
  });

  var cancel = document.getElementById("clothing-modal-cancel");
  function resetModal() {
    document.getElementById('clothing-modal').style.display = "none";
    var tag_input = document.getElementById("tag-input");
    tag_input.value = "";
    var name_field = document.getElementById("name-field");
    name_field.value = "";
    document.getElementById("form-errors").innerText = "";
  }
  cancel.onclick = resetModal;

  // When the user clicks anywhere outside of the modal, close it
  document.getElementById('clothing-modal').onclick = function(event) {
    if(event.target == this) {
      resetModal();
    }
    if(event.target.className == "close"){
      event.target.parentNode.parentNode.removeChild(event.target.parentNode);
    }
  }

  var tag_input = document.getElementById("tag-input");
  tag_input.onkeyup = function(){
    var tag_input = document.getElementById("tag-input");
    if(tag_input.value.indexOf(",") > -1) {
      var new_tag_string = tag_input.value.substring(0, tag_input.value.indexOf(","));
      tag_input.value = "";
      var tag_collection_div = document.getElementById("tag-collection");
      tag_collection_div.innerHTML += "<div class=\"tag\">" + new_tag_string + "<div class='close'>X</div></div>";
    }
  };

  $('#clothing-modal-form').submit(function() {
    var hidden_tag_field = document.getElementById("hidden-tag-field");
    var tags =$("#tag-collection").children();
    for(var i = 0; i < tags.length; i++) {
      var tag = tags[i];
      hidden_tag_field.value += tag.innerText.substring(0, tag.innerText.length - 1) + ",";
    }
    var tag_input = document.getElementById("tag-input");
    if(tag_input.value.length > 0) {
      hidden_tag_field.value += tag_input.value;
    }
  });

  function clothing_modal_form_validate() {
    var cloth_name = document.forms["clothing-modal"]["name"].value;
    if (cloth_name == "") {
      document.getElementById("form-errors").innerText = "Clothing name cannot be blank."
      return false;
    }
    return true;
  }
</script>