<div id="clothing-modal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="form">
      <div class="form-title" id="form-title"></div>
      <form action="" method="post" id="clothing-modal-form">
        <div class="form-block">
          <div class="form-input-title">Name:</div>
          <div><input class="form-input-textbox form-input-reg" type="text" name="name" id="name-field" /></div>
        </div>
        <div class="form-block">
          <div class="form-input-title">Tags (comma separated):</div>
          <div>
            <div id="tf" class="form-input-textbox">
              <div contenteditable="true" id="clothing-modal-tag-input"></div>
            </div>
          </div>
        </div>
        <div style="display: none">
          <input type="text" name="tags" id="hidden-tag-field" value="">
          <input type="text" name="guid" id="clothing-modal-guid" value="">
        </div>
        <div class="form-block" style="height:30px">
          <input class="form-input-buttons" type="submit" value="Submit" style="margin-top:3px;float:left;"/>
          <input class="form-input-buttons" type="button" value="Cancel" style="margin-top:3px;float:right;" id="clothing-modal-cancel" />
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  // When the user clicks the button, open the modal

  document.getElementById("add-clothing").onclick = function() {
    document.getElementById("form-title").innerText = "New Clothing";
    $("#clothing-modal-form").attr("action", "{{ url_for('new_clothing') }}");
    document.getElementById('clothing-modal').style.display = "block";
  };

  $('.edit-button').on("click", function() {
    document.getElementById("form-title").innerText = "Edit Clothing";
    $("#name-field")[0].value = $(this).parent().siblings(".clothing-name")[0].innerText;
    var tagsString = $(this).parent().siblings(".clothing-tags")[0].innerText;
    var tagsHTML = "";

    if(tagsString != ""){
      var tags = tagsString.split(",");
      for (var i = 0; i < tags.length; i++) {
        tagsHTML += "<div class=\"tag\" contenteditable=\"false\">" + tags[i] + "<div class='close'>X</div></div>"
      }
    }

    $("#tf").html(tagsHTML + "<div contenteditable=\"true\" id=\"clothing-modal-tag-input\"></div>");

    var hidden_guid_field = document.getElementById("clothing-modal-guid");
    hidden_guid_field.value = $(this).parent().siblings(".clothing-guid")[0].innerText;
    $("#clothing-modal-form").attr("action", "{{ url_for('edit_clothing') }}");
    $('#clothing-modal').css("display", "block");
  });

  var cancel = document.getElementById("clothing-modal-cancel");
  function resetModal() {
    document.getElementById('clothing-modal').style.display = "none";
    var tf = document.getElementById("tf");
    tf.innerHTML = "<div contenteditable=\"true\" id=\"clothing-modal-tag-input\"></div>";
    var name_field = document.getElementById("name-field");
    name_field.value = "";
  }
  cancel.onclick = resetModal;

  // When the user clicks anywhere outside of the modal, close it
  document.getElementById('clothing-modal').onclick = function(event) {
    if(event.target == this) {
      resetModal();
    }
  }
  var tf = document.getElementById("tf");

  tf.onkeyup = function(){
    var tf = document.getElementById("tf");
    if(tf.innerHTML.indexOf(",") > -1) {
      var editable = document.getElementById("clothing-modal-tag-input");
      tf.innerHTML = tf.innerHTML.substring(0, tf.innerHTML.indexOf(editable.outerHTML)) + "<div class=\"tag\" contenteditable=\"false\">" + editable.innerHTML.substring(0, editable.innerHTML.indexOf(",")) + "<div class='close'>X</div></div><div contenteditable=\"true\" id=\"clothing-modal-tag-input\"></div>";
      editable = document.getElementById("clothing-modal-tag-input");
      editable.innerHTML = "";
      tf.children[tf.children.length - 1].focus();
    }
  };
  tf.onclick = function(event){
    if(event.target.className == "close"){
      event.target.parentNode.parentNode.removeChild(event.target.parentNode);
    }
    var tf = document.getElementById("tf");
    tf.children[tf.children.length - 1].focus();
  };
  $('#clothing-modal-form').submit(function() {
    var hidden_tag_field = document.getElementById("hidden-tag-field");
    var tags =$('#tf').children().slice(0, $('#tf').children().length - 1);
    for(var i = 0; i < tags.length; i++) {
      var tag = tags[i];
      hidden_tag_field.value += tag.innerText.substring(0, tag.innerText.length - 1) + ",";
    }
    var editable = document.getElementById("clothing-modal-tag-input");
    if(editable.innerHTML.length > 0) {
      hidden_tag_field.value += editable.innerHTML;
    }
  });
</script>