<div id="view-modal" class="modal">
  <!-- Modal content -->
  <div class="modal-content view-clothing">
    <div class="form">
        <div class="clothing-name" id="view-clothing-name"></div>
        <div id="view-clothing-tags"></div>

      </div>
  </div>
</div>
<script>
  // Get the modal
  var view_modal = document.getElementById('view-modal');

  // When the user clicks anywhere outside of the modal, close it
  view_modal.onclick = function(event) {
      if (event.target == view_modal) {
          view_modal.style.display = "none";
          // TODO: clear tags completely
      }
  }

  $('.view-button').on("click", function() {
    $("#view-clothing-name").text($(this).parent().siblings(".clothing-name")[0].innerText);
    var tags = $(this).parent().siblings(".clothing-tags")[0].innerText.split(",");
    var tagsHTML = "";
    for (var i = 0; i < tags.length; i++) {
      tagsHTML += "<div class=\"tag\" contenteditable=\"false\">" + tags[i] + "</div>"
    }
    $("#view-clothing-tags").html(tagsHTML);
    $('#view-modal').css("display", "block");
  })
</script>
