<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}" />
<script language="JavaScript" type="text/javascript" src="{{ url_for('static', filename='jquery-3.1.0.min.js') }}"></script>
{% include 'wardrobe_editor/sidenav.html' %}
<div id="main">
  <div id="top-bar">
    {% include 'wardrobe_editor/tag_container.html' %}
    <div id="search">
      <form action="{{ url_for('edit_wardrobe', selectedTags=selectedTags) }}">
        <input type="text" name="search" placeholder="Search..">
        {% for i in selectedTags %}
          <input type="text" name="selectedTags" value="{{ i }}" style="display:none;"/>
        {% endfor %}
        <input type="submit" style="display:none;"/>
      </form>
    </div>
    <div>
      <form action="{{ url_for('edit_wardrobe') }}" name="sort-by-form">
        <select name="sortby" onchange="this.form.submit()">
          <option value="order">By Order Created</option>
          <option value="alpha">By Alphabetical Order</option>
          <option value="usage">By Usage</option>
        </select>
      </form>
    </div>
  </div>
  <div>
    {% for i in clothes %}
    <div class="clothing">
      <div class="clothing-name">
        <div class="clothing-name-text">{{ i.name }}</div>
      </div>
      <div class="clothing-divider"></div>
      <div class="clothing-tags" style="display: none">
        {%- for j in range(i.tags|length) -%}
          {{- i.tags[j][1] -}}{%- if j != i.tags|length - 1 -%},{% endif -%}
        {%- endfor -%}
      </div>
      <div class="clothing-usage" style="display: none">
        <div class="clothing-usage-week">{{ i.usage["week"] }}</div>
        <div class="clothing-usage-month">{{ i.usage["month"] }}</div>
        <div class="clothing-usage-three-months">{{ i.usage["threemonths"] }}</div>
        <div class="clothing-usage-year">{{ i.usage["year"] }}</div>
        <div class="clothing-usage-all-time">{{ i.usage["alltime"] }}</div>
      </div>
      <div class="clothing-guid" style="display: none">
        {{- i.guid -}}
      </div>
      <div style="margin-top: 12px">
        <a href="#" class="cloth-button view-button"><i class="fa fa-search"></i></a>
        <a href="#" class="cloth-button edit-button"><i class="fa fa-pencil-square-o"></i></a>
      </div>
      <div style="margin-top: 6px">
        <a href="#" class="cloth-button"><i class="fa fa-area-chart"></i></a>
        <a href="{{ url_for('delete_cloth', id=i.guid)}}" class="cloth-button"><i class="fa fa-trash-o"></i></a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% include 'wardrobe_editor/clothing_modal.html' %}
{% include 'wardrobe_editor/view_clothing_modal.html' %}
<script src="https://use.fontawesome.com/8500ed540a.js"></script>
<script>
  var sortByForm = document.forms["sort-by-form"]["sortby"];
  for(var i = 0; i < sortByForm.children.length; i++) { 
    var child = document.forms["sort-by-form"]["sortby"].children[i];
    if (child.value == "{{ request.args.get("sortby") }}") {
      child.selected = true;
    }
  }
</script>