<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}" />
{% include 'wardrobe_editor/sidenav.html' %}
<div id="main">
  <div id="top-bar">
    {% include 'wardrobe_editor/tag_container.html' %}
    <div id="search">
      <form>
        <input type="text" name="search" placeholder="Search..">
      </form>
    </div>
  </div>
  <div>
    {% for i in clothes %}
    <div class="clothing">
      <div class="clothing-name">
        {{ i.name }}
      </div>
      <div style="margin-top: 15px">
        <a href="#" class="cloth-button"><i class="fa fa-search"></i></a>
        <a href="#" class="cloth-button"><i class="fa fa-pencil-square-o"></i></a>
      </div>
      <div style="margin-top: 5px">
        <a href="#" class="cloth-button"><i class="fa fa-area-chart"></i></a>
        <a href="{{ url_for('delete_cloth', id=i.guid)}}" class="cloth-button"><i class="fa fa-trash-o"></i></a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% include 'wardrobe_editor/new_clothing_modal.html' %}
<script src="https://use.fontawesome.com/8500ed540a.js"></script>