<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class="form">
  <div class="form-title">New Clothing</div>
  <form action="{{ url_for("new_clothing") }}" method="post">
    <table>
      <tr>
        <td>
          Clothing Name:
        </td>
        <td>
          <input type="text" name="name" />
        </td>
      </tr>
    </table>
  <br />
  <input type="submit" value="Submit" />
  <input type="button" value="Cancel" onClick="window.location='{{ url_for("index") }}';" />
  </form>
</div>
