<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<style>
  #tf {
    border: 1px solid #ccc;
    padding: 5px;
    cursor: text;
  }
  #editable {
    padding: 3px;
    margin: 0px 3px 3px;
    height:1em;background-color:none;display:inline-block;vertical-align:top
  }
  .tag {
    vertical-align:top;
    border: 1px solid #48f;
    color: #48f;
    display: inline-block;
    margin: 0px 3px 3px;
    padding: 2px 4px;
    border-radius: 7px;
  }

</style>
<div class="form">
  <div class="form-title">New Clothing</div>
  <form action="{{ url_for("new_clothing") }}" method="post">
    <div>
      <div style="inline-block">Name:</div>
      <div style="inline-block"><input type="text" name="name" id="name-field" /></div>
    </div>
    <div>
      <div>Tags (comma separated):</div>
      <div id="tf">
        <div contenteditable="true" style = "width:100%;" id="editable"></div>
      </div>
    </div>
    <div style="background-color: pink"><input type="text" name="tags" id="hidden-tag-field" value=""/></div>
        
  <br />
  <input type="submit" value="Submit" />
  <input type="button" value="Cancel" id="cancel" />
  </form>
</div>
<script>
  var tf = document.getElementById("tf");

  tf.onkeyup = function(){
  if(tf.innerHTML.indexOf(",") > -1) {
   
    
    var editable = document.getElementById("editable");
    console.log(editable.innerHTML);
    var hidden_tag_field = document.getElementById("hidden-tag-field");
    hidden_tag_field.value += editable.innerHTML;
  	tf.innerHTML = tf.innerHTML.substring(0, tf.innerHTML.indexOf(editable.outerHTML)) + "<div class=\"tag\" contenteditable=\"false\">" + editable.innerHTML.substring(0, editable.innerHTML.indexOf(",")) + "</div><div contenteditable=\"true\" id=\"editable\"></div>";
    var editable = document.getElementById("editable");
    
    console.log(editable.innerHTML);
    editable.innerHTML = "";
    console.log(hidden_tag_field.outerHTML);
    tf.children[tf.children.length - 1].focus();
    }
  };
  tf.onclick = function(){
    tf.children[tf.children.length - 1].focus();
  }
</script>